.mainPage {
    display: flex;
    flex-direction: column;
}

.calendarAndRandomCard {
    display: flex;
}

.drugCard {
    width: 250px;
    height: 350px
}

.smallDrugCard {
    width: 200px;
    height: 250px
}

.calendar {
    width: 40%;
    border: 1px solid red
}

.randomCards {
    width: 60%;
    border: 1px solid red
}

.drugCard img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.smallDrugCard img {
    width: 80%;
    height: 150px;
    object-fit: contain;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.smallDrugCard button {
    width: 80%;
    height: 50%;
}