.mainPage {
    display: flex;
    flex-direction: column;
    margin: auto;
   
    justify-content: center;

}

.smallCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
}

.bigCont {
    display: flex;
    width: 100%;
    justify-content: center;
}

.backgroundCard{
    display: flex;
  justify-content: center;
    background-color: #0080805f;
}

.backgroundCatalog{
    display: flex;
    justify-content: center;
}

.calendarAndRandomCard {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}

.drugCard {
    width: 300px;
    height: 370px
}

.drugCard button {
    background-color: #008080;
}

.smallDrugCard {
    width: 200px;
    height: 250px
}

.calendar {
    width: 40%;
    margin-right: 40px;
}

.randomCards {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.flexForRandom {
    display: flex;
    align-self: center;
}

.drugCard img {
    width: 90%;
    height: 100%;
    object-fit: contain;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.smallDrugCard img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.smallDrugCard button {
    background-color: #008080;
    border: 1px solid antiquewhite;

    width: 60%;
    height: 35px;
    margin: 10px 0;
    position: absolute;
    bottom: 3px;
}

.drugCard button {
    margin: 10px 0;
    position: absolute;
    bottom: 2%
}

.imageDiv {
    width: 100%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.textDiv {
    width: 90%;
    height: 30%;
}

.smallDrugCard h5 {
    font-size: 15px;

}

.navBar {
    background-color: #008080;
}

.nav-link,
a {
    color: antiquewhite !important
}

button:hover {
    background-color: rgb(190, 138, 71) !important;
    border: 1px solid antiquewhite !important;
}

.catalog {
    padding: 30px;
}

.oneCard {
    display: flex;
    justify-content: center;
}

.filter-group {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
}

.filters{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.bascketSummary{
    margin: 30px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.summary {
margin-right: 20px;
font-weight: 600;
font-size: 20px;
color: rgb(210, 162, 100) !important
}

.contForLK {
    display: flex;
    height: 100vh;
    align-items: center;
    background-color: rgba(250, 235, 215, 0.464);
    font-size: 20px;
}

button {
    color:aliceblueb !important;
    background-color: #008080 !important;
    border: 1px solid antiquewhite !important;
}

button:focus {
    background-color: #008080 !important
}

.backgroundForLK {
    background: url(../images/phon.png);
}

.headerOfBascket {
    margin-top: 20px;
    color: #008080;
}

.description {
    font-size: 18px;
    font-weight: 700;
    color: #026a6a
}

.heading {
    color: #008080;
}

.input-group-text {
    background-color: rgb(230, 178, 110) !important;
}

.headerToGreet {
    color: rgb(210, 162, 100) !important;
    font-weight: 700;
}

.formForLK {
    color: #008080;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(250, 235, 215, 0.511);
}